## Patient Information Objects

### Patient (decrypted)

In [1]:
from models.patient import Patient

In [2]:
p1 = Patient('2712205f-755e-4897-acb3-926895b7d635')

In [3]:
p1.FIRST

'Emory494'

In [4]:
p1.get_age()

datetime.timedelta(days=29952, seconds=8212, microseconds=466776)

### Allergy (decrypted)

In [5]:
from models.allergy import Allergies

In [6]:
# A patient with multiple allergies
a1 = Allergies('df6b563d-1ff4-4833-9af8-84431e641e9c')

In [7]:
a1.allergies

[<models.allergy.Allergy at 0x13fc94783d0>,
 <models.allergy.Allergy at 0x13fc9478340>,
 <models.allergy.Allergy at 0x13fc9478490>,
 <models.allergy.Allergy at 0x13fc94788b0>]

In [8]:
# A patient with no allergies
a2 = Allergies('f0f3bc8d-ef38-49ce-a2bd-dfdda982b271')

In [9]:
a2.allergies

[]

by patient class

In [10]:
p1 = Patient('df6b563d-1ff4-4833-9af8-84431e641e9c')
p1.ALLERGY.get_n_allergies()

4

In [11]:
p2 = Patient('f0f3bc8d-ef38-49ce-a2bd-dfdda982b271')
p2.ALLERGY.get_n_allergies()

0

## Read from sql db

In [1]:
from app import connection
from sqlalchemy import text
import pandas as pd

In [34]:
with connection.OracleConnection() as engine:
    db_connection = engine.connect()
    try:
        statement = text("""SELECT * FROM BM3336.test1""")
        rs = db_connection.execute(statement).fetchall()
    except Exception as e:
        print("Error: " + str(e))
    finally:
        # close the db connection
        db_connection.close()
rs

[('aaa', 'bbb', '111'),
 ('aaa', 'bbb', '222'),
 ('aaa', 'aaa', '1111'),
 ('aaa', 'aaa', '11111')]

In [4]:
with connection.OracleConnection() as engine:
    db_connection = engine.connect()
    try:
        # execute SQL query in try statement 
        statement = text("""SELECT * FROM mitre_patient limit FETCH FIRST 2 ROWS ONLY""")
        df = pd.read_sql(statement,con=db_connection)
    except Exception as e:
        print("Error: " + str(e))
    finally:
        # close the db connection
        db_connection.close()
df

,patient_id,birthdate,deathdate,ssn,drivers,passport,prefix,first_name,last_name,suffix,...,birth_place,address,city,state,county,zip,lat,lon,healthcare_expenses,healthcare_coverage
0,b1bc3c89-4e7b-41fd-a58b-9bf4ce2b40a9,1973-07-04,None,999-85-9257,S99974338,X55702266X,Mr.,Louie190,Jacobi462,None,...,Lynn Massachusetts US,255 Ondricka Common,Deerfield,Massachusetts,Franklin County,None,42.574668,-72.562583,1018792.98,10929.18
1,50e7ede4-7ca1-4b2c-ae64-6b88b58eeaac,1965-10-15,None,999-85-8713,S99926370,X24151910X,Ms.,Marvel321,Wyman904,None,...,Wilbraham Massachusetts US,913 Schiller Well Apt 80,Burlington,Massachusetts,Middlesex County,01803,42.484740,-71.234137,1444325.28,4353.00

## Text generation

### read template

In [5]:
import simplejson as json
from sqlalchemy import text

In [6]:
with open("template_section.json") as f:
    template = json.load(f)

In [7]:
dict_conditions = {
    "EQ" : "=",
    "GT" : ">",
    "LT" : "<"
}
dict_params = {
    "count" : "count(*)" 
    }

In [8]:
template

{'sections': {'DOCUMENT_HEADER': {'frequency': 'always'},
  'PATIENT': {'frequency': 'always',
   'table': 'MITRE_PATIENT',
   'sections': {'PATIENT_DEMOGRAPHICS': {'frequency': 'always',
     'title': 'Patient:\n'},
    'FEMALE_PATIENT': {'frequency': 'always',
     'when': ['{:GENDER:}', 'EQ', 'F']},
    'ALLERGY': {'frequency': 'always',
     'title': 'ALLERGY_TITLE',
     'table': 'MITRE_PATIENT_ALLERGY',
     'join': ['PATIENT_ID'],
     'sections': {'ALLERGY_0': {'when': ['count', 'EQ', 0]},
      'ALLERGY_1': {'when': ['count', 'EQ', 1]},
      'ALLERGY_N': {'when': ['count', 'GT', 1]}}}}}}}

In [9]:
for k,v in template['sections']['PATIENT'].items():
    print(k,v)

frequency always
table MITRE_PATIENT
sections {'PATIENT_DEMOGRAPHICS': {'frequency': 'always', 'title': 'Patient:\n'}, 'FEMALE_PATIENT': {'frequency': 'always', 'when': ['{:GENDER:}', 'EQ', 'F']}, 'ALLERGY': {'frequency': 'always', 'title': 'ALLERGY_TITLE', 'table': 'MITRE_PATIENT_ALLERGY', 'join': ['PATIENT_ID'], 'sections': {'ALLERGY_0': {'when': ['count', 'EQ', 0]}, 'ALLERGY_1': {'when': ['count', 'EQ', 1]}, 'ALLERGY_N': {'when': ['count', 'GT', 1]}}}}

In [10]:
p_section = template['sections']['PATIENT']
table_name = template['sections']['PATIENT']['table']
table_name

'MITRE_PATIENT'

In [11]:
p_section['sections']

{'PATIENT_DEMOGRAPHICS': {'frequency': 'always', 'title': 'Patient:\n'},
 'FEMALE_PATIENT': {'frequency': 'always', 'when': ['{:GENDER:}', 'EQ', 'F']},
 'ALLERGY': {'frequency': 'always',
  'title': 'ALLERGY_TITLE',
  'table': 'MITRE_PATIENT_ALLERGY',
  'join': ['PATIENT_ID'],
  'sections': {'ALLERGY_0': {'when': ['count', 'EQ', 0]},
   'ALLERGY_1': {'when': ['count', 'EQ', 1]},
   'ALLERGY_N': {'when': ['count', 'GT', 1]}}}}

In [12]:
with open("template_patient_info.json") as f:
    template = json.load(f)

In [13]:
for k,v in template['PATIENT_DEMOGRAPHICS'].items():
    print(k)

part1
part2
part3

In [14]:
string = template['PATIENT_DEMOGRAPHICS']['part1']
string[0]

'The patient, {:FIRST_NAME:}, is a {:BIRTHDATE:} year old {:Gender:} who presents with {:HEALTHCARE_COVERAGE:}.'

In [15]:
import re

def find_words(text):
    pattern = r'{:(.*?):}'
    matches = re.finditer(pattern, text)
    words = []
    for match in matches:
        word = match.group(1)
        position = match.start()
        word_len = len(word)+4
        words.append((position,word,word_len))
    return words

key_words_info = find_words(string[0])
key_words_info

[(13, 'FIRST_NAME', 14),
 (34, 'BIRTHDATE', 13),
 (57, 'Gender', 10),
 (86, 'HEALTHCARE_COVERAGE', 23)]

In [16]:
cols = []
for i in key_words_info:
    cols.append(i[1])
cols

['FIRST_NAME', 'BIRTHDATE', 'Gender', 'HEALTHCARE_COVERAGE']

In [17]:
def get_columns_str(list:cols):
    if len(cols) > 1:
        return ','.join(cols)
    else:
        return cols[0]
col_str = get_columns_str(cols)
col_str

'FIRST_NAME,BIRTHDATE,Gender,HEALTHCARE_COVERAGE'

In [18]:
table_name

'MITRE_PATIENT'

In [21]:
with connection.OracleConnection() as engine:
    db_connection = engine.connect()
    try:
        sql = f"""SELECT {col_str} FROM {table_name}"""
        print(sql)
        rs = db_connection.execute( text(sql))
        for row in rs:
            print(row)
    except Exception as e:
        print("Error: " + str(e))
    finally:
        # close the db connection
        db_connection.close()

SELECT FIRST_NAME,BIRTHDATE,Gender,HEALTHCARE_COVERAGE FROM MITRE_PATIENT
('Louie190', datetime.datetime(1973, 7, 4, 0, 0), 'M', Decimal('10929.18'))
('Marvel321', datetime.datetime(1965, 10, 15, 0, 0), 'F', Decimal('4353'))
('Luciana251', datetime.datetime(1993, 3, 9, 0, 0), 'F', Decimal('4274.64'))
('Ashton21', datetime.datetime(1967, 6, 14, 0, 0), 'F', Decimal('11811.21'))
('Erwin847', datetime.datetime(1987, 8, 3, 0, 0), 'M', Decimal('11799.2'))
('Mabel261', datetime.datetime(1986, 8, 24, 0, 0), 'F', Decimal('860.22'))
('Victor265', datetime.datetime(2005, 11, 30, 0, 0), 'M', Decimal('4562.12'))
('Wesley533', datetime.datetime(1967, 6, 14, 0, 0), 'M', Decimal('5593.56'))
('Dorothea248', datetime.datetime(2018, 7, 19, 0, 0), 'F', Decimal('1033.28'))
('Emerson869', datetime.datetime(1959, 5, 20, 0, 0), 'M', Decimal('6321.96'))
('Christene303', datetime.datetime(1994, 5, 31, 0, 0), 'F', Decimal('5137.84'))
('Stanford577', datetime.datetime(1969, 2, 22, 0, 0), 'M', Decimal('3480.56'))
('Lorrie905', datetime.datetime(2013, 7, 2, 0, 0), 'F', Decimal('2410.68'))
('Carol737', datetime.datetime(1968, 8, 15, 0, 0), 'M', Decimal('5330.36'))
('Carlton317', datetime.datetime(1979, 5, 16, 0, 0), 'M', Decimal('3485.48'))
('Cesar434', datetime.datetime(1972, 8, 25, 0, 0), 'M', Decimal('5915.32'))
('Jesus702', datetime.datetime(1986, 8, 24, 0, 0), 'F', Decimal('9822.64'))
('Joleen561', datetime.datetime(2001, 12, 27, 0, 0), 'F', Decimal('3346.4'))
('Ira784', datetime.datetime(1982, 5, 22, 0, 0), 'M', Decimal('3789.64'))
('Richie600', datetime.datetime(2012, 4, 29, 0, 0), 'M', Decimal('2195.72'))
('Timmy68', datetime.datetime(2007, 5, 21, 0, 0), 'M', Decimal('2909'))
('Benedict104', datetime.datetime(1981, 8, 21, 0, 0), 'M', Decimal('3533'))
('Maisha241', datetime.datetime(1955, 4, 5, 0, 0), 'F', Decimal('7568.52'))
('Margarita164', datetime.datetime(1978, 10, 30, 0, 0), 'F', Decimal('6919.85'))
('Reid278', datetime.datetime(1997, 12, 14, 0, 0), 'M', Decimal('2502.28'))
('Chung121', datetime.datetime(2015, 6, 20, 0, 0), 'M', Decimal('1679.08'))
('Ernie189', datetime.datetime(1976, 2, 21, 0, 0), 'M', Decimal('6372.8'))
('Sabina296', datetime.datetime(1952, 4, 8, 0, 0), 'F', Decimal('7350.96'))
('Tia76', datetime.datetime(1940, 4, 5, 0, 0), 'F', Decimal('9074.92'))
('Leslee214', datetime.datetime(2020, 2, 13, 0, 0), 'F', Decimal('258.32'))
('Cristobal567', datetime.datetime(1995, 9, 4, 0, 0), 'M', Decimal('3421.36'))
('Eveline832', datetime.datetime(2009, 5, 7, 0, 0), 'F', Decimal('645.8'))
('Marjory382', datetime.datetime(2008, 6, 23, 0, 0), 'F', Decimal('2583.2'))
('Caterina17', datetime.datetime(1968, 3, 29, 0, 0), 'F', Decimal('11767.04'))
('Evia329', datetime.datetime(1959, 3, 4, 0, 0), 'F', Decimal('28145.25'))
('Mickey576', datetime.datetime(1997, 12, 14, 0, 0), 'M', Decimal('3627.16'))
('Bernice532', datetime.datetime(1992, 5, 22, 0, 0), 'F', Decimal('6614.4'))
('Ben667', datetime.datetime(1969, 6, 5, 0, 0), 'M', Decimal('0'))
('Lesley194', datetime.datetime(2006, 5, 24, 0, 0), 'M', Decimal('516.64'))
('Jamey282', datetime.datetime(1941, 3, 25, 0, 0), 'M', Decimal('3392.04'))
('Caroll955', datetime.datetime(1990, 6, 15, 0, 0), 'F', Decimal('10509.5'))
('Humberto482', datetime.datetime(2018, 2, 6, 0, 0), 'M', Decimal('1162.44'))
('Alane21', datetime.datetime(1940, 4, 5, 0, 0), 'F', Decimal('11495.18'))
('Sammie902', datetime.datetime(1939, 12, 12, 0, 0), 'M', Decimal('17003.23'))
('Shirley182', datetime.datetime(1976, 9, 10, 0, 0), 'M', Decimal('4954.56'))
('Laverna97', datetime.datetime(1954, 7, 29, 0, 0), 'F', Decimal('12597.56'))
('Linwood526', datetime.datetime(1941, 3, 25, 0, 0), 'M', Decimal('4089.53'))
('Kevin729', datetime.datetime(1958, 4, 27, 0, 0), 'M', Decimal('0'))
('Kermit56', datetime.datetime(2003, 8, 8, 0, 0), 'M', Decimal('2734'))
('Phil587', datetime.datetime(1967, 11, 26, 0, 0), 'M', Decimal('4161.2'))
('Kristina583', datetime.datetime(1940, 4, 5, 0, 0), 'F', Decimal('6170.24'))
('Dannie881', datetime.datetime(1974, 7, 30, 0, 0), 'M', Decimal('3982.12'))
('Hermila490', datetime.datetime(1974, 1, 17, 0, 0), 'F', Decimal('68534.74'))
('Christeen33', datetime.datetime(1983, 6, 6, 0, 0), 'F', Decimal('7755.67'))
('Ted955', datetime.datetime(1969, 2, 26, 0, 0), 'M', Decimal('4413.72'))
('Andre610', datetime.datetime(1942, 7, 27, 0, 0), 'F', Decimal('14343.32'))
('Stevie682', datetime.datetime(1941, 3, 25, 0, 0), 'M', Decimal('10803.68'))
('Orlando897', datetime.datetime(1957, 2, 13, 0, 0), 'M', Decimal('4922.96'))
('Kermit56', datetime.datetime(1946, 8, 12, 0, 0), 'M', Decimal('9632.16'))
('Micheal721', datetime.datetime(1964, 8, 9, 0, 0), 'M', Decimal('15541.82'))
('Gidget756', datetime.datetime(2004, 6, 7, 0, 0), 'F', Decimal('2803.96'))
('Erika442', datetime.datetime(1940, 4, 5, 0, 0), 'F', Decimal('22954.53'))
('Deidra675', datetime.datetime(1996, 5, 29, 0, 0), 'F', Decimal('0'))
('Sean831', datetime.datetime(2008, 10, 24, 0, 0), 'M', Decimal('7762.08'))
('Ardis509', datetime.datetime(1967, 7, 14, 0, 0), 'F', Decimal('17017.45'))
('Alejandro916', datetime.datetime(1984, 6, 9, 0, 0), 'M', Decimal('4851.28'))
('Gerald181', datetime.datetime(2012, 10, 21, 0, 0), 'M', Decimal('2387.36'))
('Elvira561', datetime.datetime(1984, 6, 24, 0, 0), 'F', Decimal('8882.4'))
('Mateo562', datetime.datetime(2017, 12, 23, 0, 0), 'M', Decimal('1457.4'))
('Tabetha269', datetime.datetime(1997, 9, 11, 0, 0), 'F', Decimal('9322.69'))
('Manuela585', datetime.datetime(2020, 3, 22, 0, 0), 'F', Decimal('258.32'))
('Casey401', datetime.datetime(1997, 5, 4, 0, 0), 'M', Decimal('0'))
('Bertram873', datetime.datetime(2004, 3, 25, 0, 0), 'M', Decimal('2545.64'))
('Angelic427', datetime.datetime(1955, 7, 24, 0, 0), 'F', Decimal('11310.6'))
('Jeanne553', datetime.datetime(1993, 10, 29, 0, 0), 'F', Decimal('10980.14'))
('Adrian111', datetime.datetime(2013, 4, 25, 0, 0), 'F', Decimal('2323.2'))
('Jamel269', datetime.datetime(1981, 9, 3, 0, 0), 'M', Decimal('8690.64'))
('Maurice742', datetime.datetime(1988, 2, 8, 0, 0), 'M', Decimal('10703.65'))
('Santiago500', datetime.datetime(1987, 4, 2, 0, 0), 'M', Decimal('4799.61'))
('Rana586', datetime.datetime(1984, 9, 13, 0, 0), 'F', Decimal('7509.41'))
('Cassaundra447', datetime.datetime(2009, 10, 3, 0, 0), 'F', Decimal('645.8'))
('Rosalind66', datetime.datetime(1980, 4, 26, 0, 0), 'F', Decimal('12910.15'))
('Theodora872', datetime.datetime(1972, 12, 24, 0, 0), 'F', Decimal('18149.02'))
('Eliseo499', datetime.datetime(1958, 12, 6, 0, 0), 'M', Decimal('5691.88'))
('Adam631', datetime.datetime(2002, 7, 12, 0, 0), 'M', Decimal('2945.6'))
('Muoi890', datetime.datetime(1963, 12, 5, 0, 0), 'F', Decimal('9717.4'))
('Patrice780', datetime.datetime(1971, 2, 23, 0, 0), 'F', Decimal('10109.89'))
('Willa615', datetime.datetime(2010, 9, 27, 0, 0), 'F', Decimal('2324.88'))
('Vennie613', datetime.datetime(1984, 1, 25, 0, 0), 'F', Decimal('3389.6'))
('Laticia649', datetime.datetime(1973, 6, 2, 0, 0), 'F', Decimal('13129.06'))
('Fritz267', datetime.datetime(1977, 7, 25, 0, 0), 'M', Decimal('5831.12'))
('Miles206', datetime.datetime(1958, 7, 12, 0, 0), 'M', Decimal('10237.87'))
('Thaddeus38', datetime.datetime(1949, 3, 10, 0, 0), 'M', Decimal('6644.16'))
('Kelly223', datetime.datetime(1966, 9, 21, 0, 0), 'M', Decimal('6008.6'))
('Scottie437', datetime.datetime(1974, 4, 25, 0, 0), 'F', Decimal('7506.68'))
('Emilie407', datetime.datetime(1971, 9, 11, 0, 0), 'F', Decimal('5613.64'))
('Scott935', datetime.datetime(1943, 12, 26, 0, 0), 'M', Decimal('15860.02'))
('Keren761', datetime.datetime(1956, 1, 2, 0, 0), 'F', Decimal('5777.76'))
('Terrell212', datetime.datetime(1974, 12, 9, 0, 0), 'M', Decimal('4759.6'))
('Weldon459', datetime.datetime(1944, 4, 14, 0, 0), 'M', Decimal('62305.47'))
('Isiah14', datetime.datetime(1951, 1, 6, 0, 0), 'M', Decimal('173242.54'))
('Arthur650', datetime.datetime(2015, 1, 17, 0, 0), 'M', Decimal('1946.56'))
('Annalee788', datetime.datetime(1957, 8, 31, 0, 0), 'F', Decimal('11860.72'))
('Corinna386', datetime.datetime(1963, 7, 20, 0, 0), 'F', Decimal('11007.88'))
('Viola977', datetime.datetime(1998, 10, 18, 0, 0), 'F', Decimal('332.14'))
('Luisa710', datetime.datetime(2003, 9, 22, 0, 0), 'F', Decimal('2734'))
('Ben667', datetime.datetime(1943, 12, 26, 0, 0), 'M', Decimal('7580.12'))
('Leilani136', datetime.datetime(1989, 4, 7, 0, 0), 'F', Decimal('5167.5'))
('Marylouise236', datetime.datetime(1946, 9, 23, 0, 0), 'F', Decimal('35128.33'))
('Pamela954', datetime.datetime(1986, 5, 13, 0, 0), 'F', Decimal('6702.24'))
('Tora746', datetime.datetime(2000, 9, 19, 0, 0), 'F', Decimal('2938.92'))
('Rick943', datetime.datetime(2011, 7, 16, 0, 0), 'M', Decimal('2195.72'))
('José Eduardo181', datetime.datetime(1989, 5, 25, 0, 0), 'M', Decimal('1334.88'))
('Milo271', datetime.datetime(1983, 11, 14, 0, 0), 'M', Decimal('3204.49'))
('Jayson808', datetime.datetime(1992, 6, 2, 0, 0), 'M', Decimal('2606.4'))
('Mariana775', datetime.datetime(1978, 5, 27, 0, 0), 'F', Decimal('8756.19'))
('Gregorio366', datetime.datetime(1996, 10, 18, 0, 0), 'M', Decimal('3772.2'))
('Jacinto644', datetime.datetime(2017, 7, 27, 0, 0), 'M', Decimal('1499.08'))
('Jimmie93', datetime.datetime(2003, 12, 13, 0, 0), 'F', Decimal('3093.12'))
('Karyn217', datetime.datetime(2019, 5, 15, 0, 0), 'F', Decimal('774.96'))
('Isabel214', datetime.datetime(1970, 5, 16, 0, 0), 'F', Decimal('14166.01'))
('Alva958', datetime.datetime(2016, 7, 4, 0, 0), 'F', Decimal('1599.08'))
('Jeffrey461', datetime.datetime(2004, 12, 19, 0, 0), 'M', Decimal('2816.48'))
('Karyn217', datetime.datetime(1991, 7, 3, 0, 0), 'F', Decimal('6196.92'))
('Leann224', datetime.datetime(1989, 6, 7, 0, 0), 'F', Decimal('8624.6'))
('Christal240', datetime.datetime(1982, 9, 1, 0, 0), 'F', Decimal('11713.81'))
('Amada498', datetime.datetime(1958, 7, 1, 0, 0), 'F', Decimal('15959.85'))
('Raye931', datetime.datetime(1957, 2, 25, 0, 0), 'F', Decimal('11583.44'))
('Anissa357', datetime.datetime(1959, 5, 26, 0, 0), 'F', Decimal('20739.93'))
('Edmund685', datetime.datetime(1954, 4, 4, 0, 0), 'M', Decimal('5545.28'))
('Danae973', datetime.datetime(1958, 4, 11, 0, 0), 'F', Decimal('17081.82'))
('Lisbeth69', datetime.datetime(1983, 9, 2, 0, 0), 'F', Decimal('7264.7'))
('Carmelia328', datetime.datetime(2000, 11, 21, 0, 0), 'F', Decimal('9406.69'))
('Cythia210', datetime.datetime(1999, 2, 3, 0, 0), 'F', Decimal('3347.24'))
('María Soledad68', datetime.datetime(2017, 2, 23, 0, 0), 'F', Decimal('1766.56'))
('Margert370', datetime.datetime(1970, 12, 22, 0, 0), 'F', Decimal('36121.33'))
('Margurite588', datetime.datetime(1986, 1, 28, 0, 0), 'F', Decimal('9291.25'))
('Frankie174', datetime.datetime(1983, 9, 12, 0, 0), 'F', Decimal('5352'))
('Cecila397', datetime.datetime(2000, 11, 21, 0, 0), 'F', Decimal('8240.12'))
('Kim439', datetime.datetime(1967, 3, 26, 0, 0), 'F', Decimal('14335.01'))
('Mariella503', datetime.datetime(1964, 11, 25, 0, 0), 'F', Decimal('5457.84'))
('Benedict104', datetime.datetime(1965, 2, 22, 0, 0), 'M', Decimal('4969.48'))
('Wilbur107', datetime.datetime(1950, 5, 22, 0, 0), 'M', Decimal('5286.92'))
('Josiah310', datetime.datetime(1986, 12, 27, 0, 0), 'M', Decimal('4217.08'))
('September423', datetime.datetime(2000, 10, 16, 0, 0), 'F', Decimal('2873.12'))
('Shandra823', datetime.datetime(2018, 3, 20, 0, 0), 'F', Decimal('1162.44'))
('Ashley34', datetime.datetime(1977, 8, 8, 0, 0), 'M', Decimal('3789.64'))
('Altha90', datetime.datetime(1999, 7, 19, 0, 0), 'F', Decimal('2920.64'))
('Aundrea980', datetime.datetime(1974, 6, 1, 0, 0), 'F', Decimal('7191.24'))
('Latrina689', datetime.datetime(2002, 7, 31, 0, 0), 'F', Decimal('3220.6'))
('Shaun461', datetime.datetime(1946, 9, 23, 0, 0), 'F', Decimal('10562.75'))
('Hunter736', datetime.datetime(1993, 1, 20, 0, 0), 'M', Decimal('2818.92'))
('Erwin847', datetime.datetime(2001, 7, 24, 0, 0), 'M', Decimal('7646.8'))
('Joycelyn213', datetime.datetime(2006, 3, 7, 0, 0), 'F', Decimal('2970.68'))
('Harland508', datetime.datetime(1965, 7, 10, 0, 0), 'M', Decimal('16427.75'))
('Carlie972', datetime.datetime(2007, 3, 3, 0, 0), 'F', Decimal('4083.88'))
('Eldon28', datetime.datetime(2005, 2, 17, 0, 0), 'M', Decimal('2994.8'))
('Clayton230', datetime.datetime(1950, 5, 22, 0, 0), 'M', Decimal('13084.44'))
('Rene434', datetime.datetime(1962, 12, 21, 0, 0), 'F', Decimal('3667.92'))
('Jo405', datetime.datetime(1997, 11, 12, 0, 0), 'F', Decimal('3555.56'))
('Bobby524', datetime.datetime(2015, 11, 21, 0, 0), 'M', Decimal('1733.24'))
('Eusebio566', datetime.datetime(2018, 7, 13, 0, 0), 'M', Decimal('1033.28'))
('Eartha927', datetime.datetime(1993, 5, 2, 0, 0), 'F', Decimal('4597.88'))
('Edgardo196', datetime.datetime(1998, 5, 7, 0, 0), 'M', Decimal('444.96'))
('Dion244', datetime.datetime(1950, 3, 16, 0, 0), 'M', Decimal('9244'))
('Charise827', datetime.datetime(1971, 6, 16, 0, 0), 'F', Decimal('11329.97'))
('Shara355', datetime.datetime(2006, 1, 10, 0, 0), 'F', Decimal('3178.16'))
('Madelyn308', datetime.datetime(1951, 3, 20, 0, 0), 'F', Decimal('10895.64'))
('Cathern761', datetime.datetime(1976, 5, 30, 0, 0), 'F', Decimal('13309.61'))
('Lacy523', datetime.datetime(1923, 6, 22, 0, 0), 'M', Decimal('1037.4'))
('Cassaundra447', datetime.datetime(2006, 3, 30, 0, 0), 'F', Decimal('580.8'))
('Felton646', datetime.datetime(1950, 5, 22, 0, 0), 'M', Decimal('12429.81'))
('Orlando897', datetime.datetime(1979, 12, 25, 0, 0), 'M', Decimal('6857.6'))
('Noel608', datetime.datetime(1979, 3, 26, 0, 0), 'F', Decimal('1383.2'))
('Eddie505', datetime.datetime(1974, 2, 23, 0, 0), 'M', Decimal('4774.64'))
('Kasie673', datetime.datetime(1991, 8, 30, 0, 0), 'F', Decimal('5124.41'))
('Jacquelyn628', datetime.datetime(1964, 4, 18, 0, 0), 'F', Decimal('18075.82'))
('Verdie59', datetime.datetime(1976, 3, 23, 0, 0), 'F', Decimal('7730.71'))
('Christena299', datetime.datetime(1953, 8, 3, 0, 0), 'F', Decimal('19494.64'))
('Esteban536', datetime.datetime(2019, 8, 16, 0, 0), 'M', Decimal('699.96'))
('Adela471', datetime.datetime(1984, 12, 27, 0, 0), 'F', Decimal('4830.05'))
('Sharolyn456', datetime.datetime(1972, 11, 25, 0, 0), 'F', Decimal('11378.84'))
('Aurelia213', datetime.datetime(2013, 7, 22, 0, 0), 'F', Decimal('2055.72'))
('Rafael239', datetime.datetime(1951, 10, 14, 0, 0), 'M', Decimal('6948.52'))
('Carolina179', datetime.datetime(1984, 4, 16, 0, 0), 'F', Decimal('3188.61'))
('Lakeesha370', datetime.datetime(1964, 3, 9, 0, 0), 'F', Decimal('14035.67'))
('Patrick786', datetime.datetime(1998, 5, 31, 0, 0), 'M', Decimal('3346.4'))
('Cassandra224', datetime.datetime(1935, 8, 25, 0, 0), 'F', Decimal('21830.78'))
('Donn979', datetime.datetime(2010, 3, 11, 0, 0), 'M', Decimal('2698.17'))
('Esmeralda972', datetime.datetime(1977, 10, 15, 0, 0), 'F', Decimal('11205.72'))
('Albert312', datetime.datetime(2004, 3, 9, 0, 0), 'F', Decimal('7521.04'))
('Floyd420', datetime.datetime(1956, 11, 25, 0, 0), 'M', Decimal('21042.45'))
('Gilbert263', datetime.datetime(2002, 1, 3, 0, 0), 'M', Decimal('3108.08'))
('Kent912', datetime.datetime(1994, 6, 26, 0, 0), 'M', Decimal('2864.72'))
('Greg949', datetime.datetime(1990, 10, 1, 0, 0), 'M', Decimal('7073.1'))
('Jerrell6', datetime.datetime(1951, 10, 14, 0, 0), 'M', Decimal('6128.6'))
('Alec433', datetime.datetime(2007, 7, 7, 0, 0), 'M', Decimal('3033.16'))
('Marcelo725', datetime.datetime(1994, 12, 25, 0, 0), 'M', Decimal('2895.56'))
('Reggie481', datetime.datetime(2003, 10, 12, 0, 0), 'M', Decimal('3157.28'))
('Marx778', datetime.datetime(1993, 12, 18, 0, 0), 'F', Decimal('3573.88'))
('Leroy603', datetime.datetime(2016, 11, 19, 0, 0), 'M', Decimal('1697.4'))
('Simonne139', datetime.datetime(2019, 3, 30, 0, 0), 'F', Decimal('774.96'))
('Naida467', datetime.datetime(1939, 6, 22, 0, 0), 'F', Decimal('28502.11'))
('Denita497', datetime.datetime(1994, 5, 3, 0, 0), 'F', Decimal('4908.93'))
('Laurence43', datetime.datetime(1986, 3, 7, 0, 0), 'M', Decimal('2593.12'))
('Eilene124', datetime.datetime(1953, 4, 25, 0, 0), 'F', Decimal('10084.78'))
('Micah422', datetime.datetime(1953, 2, 5, 0, 0), 'F', Decimal('87219.26'))
('Adam631', datetime.datetime(1974, 6, 3, 0, 0), 'M', Decimal('4380.44'))
('Jake169', datetime.datetime(1959, 4, 9, 0, 0), 'M', Decimal('5699.52'))
('Maybelle917', datetime.datetime(1996, 2, 18, 0, 0), 'F', Decimal('3748'))
('Susy776', datetime.datetime(1963, 12, 13, 0, 0), 'F', Decimal('7624.24'))
('Particia365', datetime.datetime(2018, 7, 25, 0, 0), 'F', Decimal('922.44'))
('Julienne688', datetime.datetime(1981, 10, 10, 0, 0), 'F', Decimal('7945'))
('Tanisha724', datetime.datetime(2018, 7, 25, 0, 0), 'F', Decimal('1033.28'))
('Odis959', datetime.datetime(1972, 3, 1, 0, 0), 'M', Decimal('37859.58'))
('Mignon230', datetime.datetime(1977, 4, 29, 0, 0), 'F', Decimal('6617.89'))
('Gianna370', datetime.datetime(1991, 8, 2, 0, 0), 'F', Decimal('3535.52'))
('Jeanine128', datetime.datetime(2013, 5, 15, 0, 0), 'F', Decimal('1937.4'))
('Vashti163', datetime.datetime(1952, 10, 1, 0, 0), 'F', Decimal('16640.46'))
('Al123', datetime.datetime(2006, 10, 5, 0, 0), 'M', Decimal('3038.16'))
('Fay398', datetime.datetime(1961, 11, 12, 0, 0), 'F', Decimal('8873.55'))
('Katia630', datetime.datetime(1967, 2, 20, 0, 0), 'F', Decimal('5526.96'))
('Carin553', datetime.datetime(2002, 12, 27, 0, 0), 'F', Decimal('3389.76'))
('Dreama246', datetime.datetime(2007, 10, 6, 0, 0), 'F', Decimal('3196.48'))
('Connie24', datetime.datetime(1962, 1, 3, 0, 0), 'F', Decimal('7837.6'))
('Shantay950', datetime.datetime(1999, 1, 19, 0, 0), 'F', Decimal('3951.99'))
('Meghann680', datetime.datetime(2004, 8, 22, 0, 0), 'F', Decimal('3478.92'))
('Mariano761', datetime.datetime(1980, 3, 28, 0, 0), 'M', Decimal('6004.24'))
('Brett333', datetime.datetime(1954, 2, 4, 0, 0), 'M', Decimal('10564.23'))
('Bell723', datetime.datetime(1969, 12, 5, 0, 0), 'F', Decimal('5162'))
('Ben667', datetime.datetime(1947, 1, 26, 0, 0), 'M', Decimal('9398.88'))
('Georgiann138', datetime.datetime(1944, 4, 2, 0, 0), 'F', Decimal('12749.32'))
('Micki733', datetime.datetime(1975, 2, 16, 0, 0), 'F', Decimal('12712.13'))
('Maryalice613', datetime.datetime(1991, 10, 6, 0, 0), 'F', Decimal('25245.94'))
('Carmon128', datetime.datetime(1947, 7, 12, 0, 0), 'F', Decimal('19517.27'))
('Kala987', datetime.datetime(1961, 3, 14, 0, 0), 'F', Decimal('344.12'))
('Tomasa683', datetime.datetime(1953, 3, 7, 0, 0), 'F', Decimal('11204.14'))
('Golden321', datetime.datetime(2003, 6, 23, 0, 0), 'F', Decimal('10236.6'))
('Lionel365', datetime.datetime(1977, 6, 28, 0, 0), 'M', Decimal('2944.76'))
('Kristeen693', datetime.datetime(1947, 7, 12, 0, 0), 'F', Decimal('5741.8'))
('Marcelle381', datetime.datetime(1961, 3, 14, 0, 0), 'F', Decimal('6057.68'))
('Hsiu839', datetime.datetime(1927, 4, 24, 0, 0), 'F', Decimal('40757.64'))
('Talisha682', datetime.datetime(1944, 4, 2, 0, 0), 'F', Decimal('16687.3'))
('Marisela850', datetime.datetime(2015, 7, 19, 0, 0), 'F', Decimal('1915.72'))
('Tiara667', datetime.datetime(1958, 11, 6, 0, 0), 'F', Decimal('13893.19'))
('Lynette631', datetime.datetime(1953, 3, 7, 0, 0), 'F', Decimal('15031.77'))
('Scott935', datetime.datetime(2008, 1, 18, 0, 0), 'M', Decimal('3203.96'))
('Fausto876', datetime.datetime(1980, 9, 29, 0, 0), 'M', Decimal('5741.2'))
('Cheryll577', datetime.datetime(1999, 8, 12, 0, 0), 'F', Decimal('8810.89'))
('Juli424', datetime.datetime(1923, 5, 15, 0, 0), 'F', Decimal('18176.42'))
('Lai148', datetime.datetime(1947, 7, 12, 0, 0), 'F', Decimal('10439.43'))
('Teri144', datetime.datetime(1954, 7, 2, 0, 0), 'F', Decimal('5098.73'))
('Alberto639', datetime.datetime(2009, 8, 20, 0, 0), 'M', Decimal('2454.04'))
('Simona661', datetime.datetime(2004, 2, 26, 0, 0), 'F', Decimal('3222.28'))
('Sandra485', datetime.datetime(1996, 12, 17, 0, 0), 'F', Decimal('20901.76'))
('Teodoro374', datetime.datetime(1958, 5, 7, 0, 0), 'M', Decimal('5267.76'))
('Katlyn29', datetime.datetime(1923, 5, 15, 0, 0), 'F', Decimal('19327.54'))
('José Eduardo181', datetime.datetime(2007, 6, 28, 0, 0), 'M', Decimal('3091.48'))
('Fletcher87', datetime.datetime(1980, 3, 16, 0, 0), 'M', Decimal('3758'))

TODOs:

    - Concadinate the string sections into one document 

    - translate the template document into a dictionary with table name and the columns we need to select

    - parse the concadinated document with data comeback from the database

    - store the offset and other informations into a dictionary

    - store the files to xxx.txt